html {
  font-size: 14px;
}

html {
  position: relative;
  height: 100%; width: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

h1.Title {
  color: #A6B2C0;
  font-size: 70px;
  font-family: 'Judge Condensed Italic', sans-serif;
}

img { 
  height: 100vh; width: 100%;
}

.notyf {
  z-index: 99999;
}