body {
    overflow-x: hidden;
    overflow-y: auto;
}

.blackmarketMainFrame {
    display: flex;
    justify-content: center
}

.blackmarketMainContainer {
    width: 70%;
    margin-block: 10rem 5rem;
    padding-bottom: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #161C2B;
    border: 2px solid #152F49;
    border-radius: 5px;
}

.blackmarketTitle {
    width: 100%;
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 3rem;
    color: white;
}

.blackmarketContent {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

.blackmarketNav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blackmarketNavButtons {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding-left: 3rem;
}

.blackmarketNavButton {
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
    color: #A6B2C0;
}

.blackmarketNavButton a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.blackmarketNavButton {
    width: 10rem;
    height: 3rem;
    background-color: #12273B;
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
    border: 2px solid #152F49;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.blackmarketNavButton:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0, 255, 255, 0.2), 0 0 18px rgba(127, 0, 255, 0.3);
}

.blackmarketNavButtonActive {
    box-shadow: 0 4px 16px rgba(0, 255, 255, 0.2), 0 0 18px rgba(127, 0, 255, 0.3);
}

.blackmarketUserMustys {
    display: flex;
    align-items: center;
    gap: 1rem;
    height: 4rem;
    padding: 0 1.5rem;
    margin-right: 3rem;
    background-color: #1e153c;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 15px;
}

.blackmarketUserMustysValue {
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
}

.blackmarketUserMustysImg {
    width: 3rem;
    height: 3rem;
}

.blackmarketItemList {
    display: flex;
    padding-top: 2rem;
    padding-inline: 3rem;
    justify-content: space-around;
    gap: 1.5rem;
    flex-wrap: wrap;
    flex-shrink: 0;
}

.blackmarketItem {
    display: flex;
    flex-direction: column;
    width: 15rem;
    padding: 1rem;
    background-color: #1e153c;
    box-shadow: 0 0 6px rgba(91, 107, 255, 0.3);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.blackmarketItemImg {
    margin: 0 auto;
    max-width: 100%;
    max-height: 13rem;
}

.blackmarketItemName {
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    margin: 1rem;
}

.blackmarketItem > p {
    margin: 1rem 0 1rem 0;
    font-family: 'Pixelify Sans', sans-serif
}

.blackmarketItemMustysImg{
    width: 2rem;
    height: 2rem;
}

.blackmarketButton {
    margin-top: 1rem;
    margin-inline: auto;
    padding-inline: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    width: 85%;
    height: 3rem;
    background-color: #12273B;
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 1.2rem;
    border: 2px solid #152F49;
    cursor: pointer;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.blackmarketButtonValue {
    display: flex;
    gap: 0.5rem;
    height: 3rem;
    justify-content: center;
    align-items: center;
}

.blackmarketButton:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0, 255, 255, 0.2), 0 0 18px rgba(127, 0, 255, 0.3);
}

.moneyIssue {
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
    color: white;
}