.blackmarketMainFrame {
    border: 1px solid red;
    display: flex;
    justify-content: center
}

.blackmarketMainContainer {
    border: 1px solid yellow;
    width: 70%;
    margin-top: 10rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.blackmarketTitle {
    border: 1px solid blue;
    width: 100%;
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 3rem;
    color: #A6B2C0;
}

.blackmarketContent {
    border: 1px solid green;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    margin: 0 auto;
}

.blackmarketNav {
    border: 1px solid purple;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blackmarketNavButtons {
    border: 1px solid red;
    display: flex;
    justify-content: center;
    gap: 4rem;
    padding-left: 3rem;
}

.blackmarketNavButton {
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
    color: #A6B2C0;
}

.blackmarketUserMustys {
    border: 1px solid orange;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-right: 3rem;
}

.blackmarketUserMustysValue {
    border: 1px solid green;
    font-family: 'Pixelify Sans', sans-serif;
    font-size: 1.5rem;
    color: #A6B2C0;
}

.blackmarketUserMustysImg {
    border: 1px solid blue;
    width: 3rem;
    height: 3rem;
}