body {
    background: url("../../img/background.png") repeat;
    height: 100vh; width: 100vw;
    margin: 0; padding: 0;
    overflow: hidden;
}

h1.title {
    font-family: 'Judge Italic';
    font-size: 3.5rem;
    color: #A6B2C0;
    padding: 0 20px;
}

.mainFrame {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 100px;
}

.selectRow {
    display: flex;
    position: absolute;
}

.selectConnectionRegister {
    position: relative;
    width: 198px;
    height: 48px;
}

.connectFrame{
    visibility: hidden;
}

.selectFrame {
    position: absolute;
}

.register{
    margin-left: -16px;
}

.selectTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    color: white;
    font-family: 'Judge Italic';
    font-size: 2rem;
}

.formConnection{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    gap: 60px;
}