.mainFrame {
    position: absolute;
    bottom: 50%; right: 50%;
    transform: translate(50%, 50%);
    
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.mainFrame .backgroundConnection {
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
}

.mainFrame form {
    z-index: 10000;
}

.selectRow {
    display: flex;
    position: absolute;
}

.selectConnectionRegister {
    position: relative;
    width: 198px;
    height: 48px;
}

.selectConnectionRegister *{
    cursor: pointer;
}

.selectConnectionRegister:not(.active) .connectFrame {
    visibility: visible;
}

.selectConnectionRegister.active .connectFrame {
    visibility: hidden;
}

.selectConnectionRegister:not(.active) .registerFrame {
    visibility: visible;
}

.selectConnectionRegister.active .registerFrame {
    visibility: hidden;
}

.selectFrame {
    position: absolute;
}

.register{
    margin-left: -16px;
}

.selectTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    z-index: 1;
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 2rem;
    pointer-events: none;
}

.text-danger {
    display: none;
}

.formConnectionRegister{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
}

.forgotLink {
    display: block;
    margin: 10px auto 0 auto;
    width: fit-content;
    text-align: center;
    color: #A6B2C0;
    font-size: 0.9rem;
    text-decoration: none;
    transition: color 0.3s;
}

.forgotLink:hover {
    color: #ffffff;
    text-decoration: underline;
}

.passwordContainer {
    display: flex;
    flex-direction: column;
}

.connectForm{
    margin-top: 40px;
    gap: 50px;
}

.registerForm{
    margin-top: 40px;
    gap: 40px;
}

.hidden {
    display: none;
}

.registerForm {
    display: none;
}

.registerForm.active {
    display: flex;
}

.connectForm {
    display: none;
}

.connectForm.active {
    display: flex;
}

.formButton {
    width: 262px;
    height: 42px;
    background-color: #12273B;
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 1.2rem;
    border: 2px solid #152F49;
    cursor: pointer;
    clip-path: polygon(
            10px 0%,
            252px 0%,
            261px 13px,
            261px 29px,
            252px 100%,
            10px 100%,
            1px 29px,
            1px 13px
    );
    transition: background 0.3s;
}

.formButton:hover {
    background-color: #1c3a53;
}
