.mainFrameConnection {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.connectForm {
    display: flex;
    flex-direction: column;
    background-color: #161C2B;
    border: 2px solid #152F49;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    width: 400px;
    padding: 30px 20px;
    margin-top: 50px;
    gap: 40px;
}

.inputConnection {
    height: 50px;
}

.formButton {
    width: 262px;
    height: 42px;
    background-color: #12273B;
    color: white;
    font-family: 'Judge Italic', sans-serif;
    font-size: 1.2rem;
    border: 2px solid #152F49;
    cursor: pointer;
    clip-path: polygon(
            10px 0%,
            252px 0%,
            261px 13px,
            261px 29px,
            252px 100%,
            10px 100%,
            1px 29px,
            1px 13px
    );
    transition: background 0.3s;
}
