.containerCreateColon {
    background-color: #161C2B;
    border: 2px solid #152F49;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: scale(0.8);
}

.containerCreateColon h1 {
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 3rem;
    color: #A6B2C0;
    padding: 0;
    margin: 0 0 0 0;
}

.containColumn {
    display: flex;
    gap: 50px;
}

.columnLeft {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
}
.columnRight {
    transform: scale(0.9);
}
.columnLeft .inputLeft {
    display: flex;
    flex-direction: column;
    gap: 25px;
}