body {
    margin: 0;
    padding: 0;
    background-color: #080E26;
    overflow: hidden;
    width: 5000px;
    height: 100vh;
}

#viewport {
    width: 100%; height: 100%;
    overflow: hidden;
    position: relative;
}

#map {
    position: absolute;
    width: 2000px;
    height: 2000px;
    cursor: grab;
}

#map:active {
    cursor: grabbing;
}

.linkCreateMission {
    position: absolute;
    right: 5px;
    z-index: 100000;
}

/********************************* BACKGROUND MAP *********************************/
.planet, .star {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: -1000;
}

.planet {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: glow 2s infinite alternate;
    opacity: 1;
}

/* === Overlay de mission === */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(4px);

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 99999;

    transition: opacity 0.3s ease;
}

.overlay.hidden {
    display: none;
}

.overlay-content {
    background-color: #152F49;
    color: white;
    border: 2px solid #244D75;
    border-radius: 10px;

    width: 80%;
    max-width: 600px;
    padding: 20px;

    font-family: 'Judge', sans-serif;
    position: relative;
}

.overlay-content h4 {
    margin-top: 0;
    font-size: 1.5rem;
}

.overlay-content p {
    font-family: 'Pixelify Sans', sans-serif;
    margin: 10px 0;
    font-size: 0.95rem;
    line-height: 1.4em;
}

.overlay-content button#closeOverlay {
    position: absolute;
    top: 10px;
    right: 15px;
    background-color: #ff4e4e;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: inherit;
    font-size: 0.9rem;
    transition: background-color 0.2s ease;
}

.overlay-content button#closeOverlay:hover {
    background-color: #c43e3e;
}

/********************************* ADMINISTRATION *********************************/
.btnAdmin {
    position: absolute;
    top: 20px; left: 20px;
}

/********************************* ANIMATION *********************************/
@keyframes glow {
    0% {
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.179), 0 0 5px rgba(255, 255, 255, 0.344), 0 0 10px rgba(255, 255, 255, 0.393);
    }
    100% {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.251), 0 0 6px rgba(255, 255, 255, 0.382), 0 0 20px rgba(255, 255, 255, 0.493);
    }
}