body {
    margin: 0;
    padding: 0;
    background-color: #080E26;
    overflow: hidden;
    width: 5000px;
    height: 100vh;
}

#viewport {
    width: 100%; height: 100%;
    overflow: hidden;
    position: relative;
}

#map {
    position: absolute;
    width: 2000px;
    height: 2000px;
    cursor: grab;
}

#map:active {
    cursor: grabbing;
}

/********************************* BACKGROUND MAP *********************************/
.planet, .star {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    z-index: -1000;
}

.planet {
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    animation: glow 2s infinite alternate;
    opacity: 1;
}


/********************************* ANIMATION *********************************/
@keyframes glow {
    0% {
        box-shadow: 0 0 1px rgba(255, 255, 255, 0.179), 0 0 5px rgba(255, 255, 255, 0.344), 0 0 10px rgba(255, 255, 255, 0.393);
    }
    100% {
        box-shadow: 0 0 2px rgba(255, 255, 255, 0.251), 0 0 6px rgba(255, 255, 255, 0.382), 0 0 20px rgba(255, 255, 255, 0.493);
    }
}