
.formMissionModifyContainer {
    position: absolute;
    top: 50%; left: 50%;
    width: 30%; height: 50%;
    display: flex;
    transform: translate(-50%, -50%);
}

.formMissionModify {
    background-color: #152F49;
    border: 2px solid #244D75;
    border-radius: 10px;
    height: 100%; width: 100%;
    max-height: 100%;
    padding: 20px;
    font-family: 'Judge', sans-serif;
    position: relative;
    
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-color: #0f081f transparent;
}

.formMissionModify input, textarea, button, select {
    padding: 2px 5px;
    border: 2px solid #244D75;
    border-radius: 5px;
    background-color: #1E3A5F;
    color: #FFFFFF;
}

.formMissionModify textarea {
    resize: none;
    height: 100px;
}

.formMissionModify div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.formMissionModify input:focus, textarea:focus, button:focus {
    outline: none;
    border-color: #3B82F6;
}