.containerModifyColon {
    background-color: #161C2B;
    border: 2px solid #152F49;
    border-radius: 5px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.containerModifyColon h1 {
    text-align: center;
    font-family: 'Judge Italic', sans-serif;
    font-size: 3.5rem;
    color: #A6B2C0;
    padding: 0;
    margin: 0 0 30px 0;
}

.containColumnModifyProfile {
    display: flex;
    gap: 50px;
}

.columnLeftModifyProfile {
    display: flex;
    flex-direction: column;
    gap: 55px;
    justify-content: center;
    align-items: center;
}
