.mainTeamProfile {
    gap: 20px;
}

.navTeamProfile {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.navTeamProfile div {
    display: flex;
    align-items: center;
    gap: 20px;
}
 
.buttonDelete {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 6px rgba(255, 0, 0, 0.2), 0 0 8px rgba(255, 0, 0, 0.3);

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.buttonDelete:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(255, 0, 0, 0.4), 0 0 18px rgba(255, 0, 0, 0.6);
}

.buttonModifyGreen {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 40px;
    height: 40px;

    border-radius: 10px;
    background: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(3px);
    box-shadow: 0 2px 6px rgba(0, 255, 0, 0.2), 0 0 8px rgba(0, 255, 0, 0.3);

    transition: transform 0.25s ease, box-shadow 0.25s ease;
    cursor: pointer;
}

.buttonModifyGreen:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 16px rgba(0, 255, 0, 0.4), 0 0 18px rgba(0, 255, 0, 0.6);
}

.buttonDelete a, .buttonModifyGreen a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.teamProfileContainer {
    display: flex;
    align-items: center;
    gap: 50px;
}

.firstColumnTeamProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstColumnTeamProfile .mainFrameFirstPart {
    width: 100%;
}

.verticalLed {
    width: 2px;
    height: 300px;
    background: linear-gradient(
            to bottom,
            rgba(0, 255, 255, 0.7) 0%,
            rgba(127, 0, 255, 0.7) 100%
    );
    border-radius: 10px;
    box-shadow:
            0 0 10px rgba(0, 255, 255, 0.7),
            0 0 20px rgba(127, 0, 255, 0.5);
    animation: pulse-led 2s infinite alternate;
    backdrop-filter: blur(3px);
}

@keyframes pulse-led {
    0% {
        box-shadow:
                0 0 10px rgba(0, 255, 255, 0.6),
                0 0 20px rgba(127, 0, 255, 0.4);
        opacity: 0.7;
    }
    50% {
        box-shadow:
                0 0 20px rgba(0, 255, 255, 1),
                0 0 40px rgba(127, 0, 255, 0.8);
        opacity: 1;
    }
    100% {
        box-shadow:
                0 0 10px rgba(0, 255, 255, 0.6),
                0 0 20px rgba(127, 0, 255, 0.4);
        opacity: 0.7;
    }
}