@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
    font-family: 'Judge';
    src: url('../../fonts/judge-font/Judge-2OaRe.ttf') format('truetype');
}

@font-face {
    font-family: 'Judge Italic';
    src: url('../../fonts/judge-font/JudgeItalic-2v1Mw.otf') format('opentype');
    font-style: italic;
}