@font-face {
    font-family: 'Judge';
    src: url('../judge-font/Judge-2OaRe.ttf') format('truetype');
}

@font-face {
    font-family: 'Judge Italic';
    src: url('../judge-font/JudgeItalic-2v1Mw.otf') format('opentype');
    font-style: italic;
}