@page
@model StarColonies.Web.Pages.connection.Connection

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Connection</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/connection.css">
    <link rel="stylesheet" href="~/css/components/astronaute.css">
</head>
<body>
<div>
    <h1 class="title">StarColonie</h1>
    
    <div class="mainFrame">
        <div>
            <div class="selectRow">
                <div class="selectConnectionRegister">
                    <h2 class="selectTitle">Connexion</h2>
                    <svg class="selectFrame connectFrame" width="198" height="48" viewBox="0 0 198 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.64178 15.1194L10.4218 1H196.057V33.0896L187.904 46.5672H1.64178V15.1194Z" fill="#2E4073" stroke="#152F49" stroke-width="2"/>
                    </svg>
                </div>
                
                <div class="selectConnectionRegister register">
                    <h2 class="selectTitle">Inscription</h2>
                    <svg class="selectFrame registerFrame" width="198" height="48" viewBox="0 0 198 48" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M1.64178 15.1194L10.4218 1H196.057V33.0896L187.904 46.5672H1.64178V15.1194Z" fill="#2E4073" stroke="#152F49" stroke-width="2"/>
                    </svg>
                </div>
            </div>
            
            <div class="formConnection">
                <space-input  label="Email" label-position="50" required></space-input>
                
                <space-input label="Mot de passe" label-position="50" required></space-input>
            </div>

            <div class="backgroundMainFrame">
                <svg width="380" height="432" viewBox="0 0 380 432" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M1.5 15L10 1.5H347L378.373 60.9318V410.984L359.005 431H10.3718L1 421.315L1.5 15Z" fill="#161C2B" stroke="#152F49" stroke-width="2"/>
                </svg>
            </div>
        </div>
    </div>

    <script src="~/js/components/input.js"></script>
    <script src="~/js/components/astronaute.js"></script>
</div>
</body>
</html>