@page
@model StarColonies.Web.Pages.connection.Connection

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="fr">
<head>
    <title>Connection</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/components/astronaute.css">
</head>
<body>
<div>
    <h1 class="title">StarColonie</h1>
    <script src="~/js/astronaute.js"></script>
</div>
</body>
</html>