@page
@model StarColonies.Web.Pages.connection.CreateColon

@{
    ViewData["Title"] = "Create colon";
    Layout = "Shared/_LayoutConnection";
}

<div class="mainFrame">
    <div>
        <div class="containFrame">
            <div class="columnLeft">
                <space-input label="Settler's name" label-position="30" required></space-input>
                <space-date label="Birthday" label-position="30" required></space-date>
                <space-select label="Choose profession" options='["Among us", "Among us", "Among us", "Among us", "Gay"]' required></space-select>
                <stat-panel force="0" stamina="0" max="7"></stat-panel>
            </div>

            <div class="columnRight">
                <img src="~/img/character/1.png"/>
                <character-panel>
                    <character-item image="/Users/sachaaerts/Helmo/DevWeb/Projet/star-colonies/StarColonies.Web/wwwroot/img/character/1.png"></character-item>
                    <character-item image="~/img/character/2.png"></character-item>
                    <character-item image="~/img/character/3.png"></character-item>
                    <character-item image="~/img/character/4.png"></character-item>
                    <character-item image="~/img/character/5.png"></character-item>
                    <character-item image="~/img/character/6.png"></character-item>
                    <character-item image="~/img/character/7.png"></character-item>
                    <character-item image="~/img/character/8.png"></character-item>
                    <character-item image="~/img/character/9.png"></character-item>
                    <character-item image="~/img/character/10.png"></character-item>
                    <character-item image="~/img/character/11.png"></character-item>
                    <character-item image="~/img/character/12.png"></character-item>
                </character-panel>
            </div>
        </div>

        <div >
            <svg width="588" height="462" viewBox="0 0 588 462" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 26L26 1H561.5C561.5 18.5 566.5 26 586.5 26V460.5H26L1 435.5V26Z" fill="#161C2B" stroke="#152F49" stroke-width="1.5"/>
            </svg>
        </div>
    </div>
</div>

<script type="module" src="~/js/components/inputs/import.js"></script>
<script type="module" src="~/js/components/stat_panel.js"></script>
<script src="~/js/components/character_panel.js"></script>