@using Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - StarColonies</title>
    <link rel="stylesheet" href="~/css/fonts.css"/>
    <link rel="stylesheet" href="~/css/pages/index.css"/>
    <link rel="stylesheet" href="~/css/layout/_Layout.css"/>
    <link rel="stylesheet" href="~/css/pages/map.css">
</head>
<body>

<header>
    <nav class="navBar">
        <div class="btnActive">
            <img src="img/character/head_before.png" alt="" id="characterHead" data-state="before">
        </div>
        <div class="list-nav">
            @if (User.Identity is not { IsAuthenticated: true })
            {
                <a class="item-nav" href="/Connection">
                    <img src="img/icons/navbar/connection.png" alt="">
                    <span>Connection</span>
                </a>
                
                <a class="item-nav" href="/Index">
                    <img src="img/icons/navbar/home.png" alt=""/>
                    <span>Home</span>
                </a>
            }
            else
            {
                <form method="post" asp-page="/Logout" class="item-nav" style="background: none; border: none; padding: 0; margin: 0;">
                    <button type="submit" style="all: unset; cursor: pointer; display: flex; flex-direction: column; align-items: center;">
                        <img src="img/icons/navbar/connection.png" alt="">
                        <span>Logout</span>
                    </button>
                </form>
                
                <a class="item-nav" href="/Index">
                    <img src="img/icons/navbar/home.png" alt=""/>
                    <span>Home</span>
                </a>
                
                <a class="item-nav" href="/Map">
                    <img src="img/icons/navbar/mission.png" alt="">
                    <span>Mission</span>
                </a>
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/blackmarket.png" alt="">
                    <span>Black market</span>
                </a>
            }
            @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
            {
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/admin.png" alt="">
                    <span>Admin</span>
                </a>
            }
            @if (User.Identity is not { IsAuthenticated: false })
            {
                @await Component.InvokeAsync("ColonistProfile")   
            }
        </div>
    </nav>
</header>
@RenderBody()

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/components/nav_bar.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>