@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using StarColonies.Infrastructures.Data.dataclass
@inject SignInManager<Colonist> SignInManager
@inject UserManager<Colonist> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - StarColonies</title>
    <link rel="stylesheet" href="~/css/fonts.css"/>
    <link rel="stylesheet" href="~/css/pages/index.css"/>
    <link rel="stylesheet" href="~/css/layout/_Layout.css"/>
</head>
<body>

<header>
    <nav class="navBar">
        <div class="btnActive">
            <img src="img/character/head_before.png" alt="" id="characterHead" data-state="before">
            <!--             <svg width="191" height="104" viewBox="0 0 191 104" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.590227 15.0528L15.1527 0.58136C15.5274 0.208996 16.0342 0 16.5625 0H165.295C165.824 0 166.331 0.208997 166.705 0.581361L181.268 15.0528C181.645 15.4282 181.858 15.9388 181.858 16.4714V75.7814C181.858 76 181.894 76.2171 181.964 76.4241L190.344 101.12C190.931 102.848 189.085 104.395 187.485 103.514L166.571 91.9988C166.275 91.8361 165.943 91.7508 165.606 91.7508H16.5625C16.0342 91.7508 15.5274 91.5418 15.1527 91.1695L0.590227 76.698C0.212439 76.3226 0 75.812 0 75.2794V16.4714C0 15.9388 0.212439 15.4282 0.590227 15.0528Z" fill="#D1D1D1"/>
            </svg>      -->
        </div>
        <div class="list-nav">
            @if (User.Identity is not { IsAuthenticated: true })
            {
                <a class="item-nav" href="/Connection">
                    <img src="img/icons/navbar/connection.png" alt="">
                    <span>Connection</span>
                </a>
            }
            else
            {
                <form method="post" asp-page="/Logout" class="item-nav" style="background: none; border: none; padding: 0; margin: 0;">
                    <button type="submit" style="all: unset; cursor: pointer; display: flex; flex-direction: column; align-items: center;">
                        <img src="img/icons/navbar/connection.png" alt="">
                        <span>Logout</span>
                    </button>
                </form>
                
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/mission.png" alt="">
                    <span>Mission</span>
                </a>
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/blackmarket.png" alt="">
                    <span>Black market</span>
                </a>
            }
            @if (User.Identity?.IsAuthenticated == true && User.IsInRole("Admin"))
            {
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/admin.png" alt="">
                    <span>Admin</span>
                </a>
            }
            @if (User.Identity is not { IsAuthenticated: false })
            {
                <a class="item-nav" href="#">
                    <img src="img/icons/navbar/connection.png" alt="">
                    <span>Profil</span>
                </a>    
            }
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/components/nav_bar.js"></script>

@await RenderSectionAsync("Scripts", required: false)
</body>
</html>