<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/connection.css">
    <link rel="stylesheet" href="~/css/pages/createColon.css">
    <link rel="stylesheet" href="~/css/components/astronaute.css">
    <link rel="stylesheet" href="~/css/layout/layoutConnection.css"/>
    <link rel="stylesheet" href="~/css/pages/profile.css"/>
</head>
<body>
<a class="linkTitleConnection" href="/Index">
    <h1 class="title">StarColonie</h1>
</a>
<main>
    @RenderBody()
</main>
<partial name="_ValidationScriptsPartial"/>
</body>
</html>

<script src="~/js/components/astronaute.js"></script>