<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/connection.css">
    <link rel="stylesheet" href="~/css/pages/createColon.css">
    <link rel="stylesheet" href="~/css/components/astronaute.css">
    <link rel="stylesheet" href="~/css/layout/layout.css"/>
    <link rel="stylesheet" href="~/css/pages/profile.css"/>
    <link rel="stylesheet" href="~/css/pages/modifyProfile.css"/>
    <link rel="stylesheet" href="~/css/pages/createColony.css"/>
    <link rel="stylesheet" href="~/css/pages/teamProfile.css"/>
    <link rel="stylesheet" href="~/css/pages/blackmarket.css"/>
    <link rel="stylesheet" href="~/css/responsives/responsive.css">
    <link rel="stylesheet" href="~/css/pages/adminMission.css">
    <link rel="stylesheet" href="~/css/pages/inventoryProfile.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
</head>
<body>
<a class="linkTitleConnection" href="/Index">
    <h1 class="title">StarColonies</h1>
</a>
<main>
    @RenderBody()
</main>

<partial name="_ValidationScriptsPartial"/>

</body>

<script>
    window.BASE_PATH = '@ViewContext.HttpContext.Request.PathBase';
</script>
<script src="~/js/components/astronaute.js"></script>
</html>

