<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/components/font.css">
    <link rel="stylesheet" href="~/css/pages/connection.css">
    <link rel="stylesheet" href="~/css/components/astronaute.css">
</head>
<body>
<div>
    <h1 class="title">StarColonie</h1>

    @RenderBody()
</div>
</body>
</html>