@media (max-height: 700px) {

    /* Main Profile */
    .mainProfile {
        transform: translate(50%, 50%) scale(0.8);
    }
    
    /* Navigation */
    .navBar {
        font-family: 'Judge', sans-serif;
        font-size: 0.8rem;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    .navBar .list-nav {
        display: flex;
        flex-direction: column-reverse;
        gap: 1rem;
    }
    .navBar .list-nav img {
        transform: scale(0.8);
    }

    .mainModifyProfile {
        transform: translate(50%, 50%) scale(0.7);
    }
    
}

@media (min-height: 700px) {
    /* Main Profile */
    .mainProfile, .mainModifyProfile {
        transform: translate(50%, 50%);
    }
}