@page
@model StarColonies.Web.Pages.BlackmarketBuying
@{
    ViewData["Title"] = "Blackmarket - Buying";
    Layout = "Shared/_Layout";
}

<div class="blackmarketMainFrame">
    <div class="blackmarketMainContainer">
        <a asp-page="Index" class="buttonProfile backButtonProfile">
            <img class="modifyLogoProfile" src="/img/icons/arrow.png" alt="back"/>
        </a>
        <h2 class="blackmarketTitle">Blackmarket</h2>
        <div class="blackmarketContent">
            <div class="blackmarketNav">
                <div class="blackmarketNavButtons">
                    <a class="blackmarketNavButton">Purchase</a>
                    <a class="blackmarketNavButton">Sell</a>
                </div>
                <!-- Mustys du joueur -->
                <div class="blackmarketUserMustys">
                    <p class="blackmarketUserMustysValue">Mustys :</p>
                    <p class="blackmarketUserMustysValue">100</p>
                    <img class="blackmarketUserMustysImg" src="/img/icons/mustysCoin.png" alt="UserMustys">
                </div>
            </div>

            <!-- Interieur du blackmarket (achat) -->
            <div>

                <!-- Objets (en display flex, 3 par ligne) -->
                <div>

                    <!-- Un Objet -->
                    <div>
                        <img src="" alt="">
                        <p>Nom de l'objet</p>
                        <div>
                            <p>Stat de l'objet</p>
                            <!-- Prix -->
                            <div>
                                <p>100</p>
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>