@page
@model StarColonies.Web.Pages.BlackmarketBuying
@{
    ViewData["Title"] = "Blackmarket - Buying";
    Layout = "Shared/_Layout";
}

<div class="blackmarketMainFrame">
    <div class="blackmarketMainContainer">
        <a asp-page="Index" class="buttonProfile backButtonProfile">
            <img class="modifyLogoProfile" src="/img/icons/arrow.png" alt="back"/>
        </a>
        <h2 class="">Blackmarket</h2>
        <div class="backgroundBlackmarket">
            <div class="selectRow">
                <div class="selectorBlackmarket - Buying active">
                    <h3 class="selectTitle">Buy</h3>
                </div>
                <div class="selectorBlackmarket - Selling inactive">
                    <h3 class="selectTitle">Sell</h3>
                </div>
            </div>

            <!-- Interieur du blackmarket (achat) -->
            <div>

                <!-- Mustys du joueur -->
                <div>
                    <p>100</p>
                    <img src="" alt="">
                </div>

                <!-- Objets (en display flex, 3 par ligne) -->
                <div>

                    <!-- Un Objet -->
                    <div>
                        <img src="" alt="">
                        <p>Nom de l'objet</p>
                        <div>
                            <p>Stat de l'objet</p>
                            <!-- Prix -->
                            <div>
                                <p>100</p>
                                <img src="" alt="">
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>
</div>