@page
@model StarColonies.Web.Pages.BlackmarketSelling
@{
    ViewData["Title"] = "Blackmarket - Selling";
    Layout = "Shared/_Layout";
}

<div class="blackMarketMainFrame">
    <h2 class="">Blackmarket</h2>
    <div class="backgroundBlackmarket">
        <div class="selectRow">
            <div class="selectorBlackmarket - Buying inactive">
                <h3 class="selectTitle">Acheter</h3>
            </div>
            <div class="selectBlackmarket - Selling active">
                <h3 class="selectTitle">Vendre</h3>
            </div>
        </div>
    </div>
</div>