@page
@model Connection

@{
    ViewData["Title"] = "Connection";
    Layout = "Shared/_LayoutConnection";
}

<div class="mainFrameConnection">
    <form method="post" asp-page-handler="Login" class="connectForm">
        <input asp-for="ConnectionUser.EmailOrUsernameConnection" type="hidden" id="email-connection-hidden" />
        <input asp-for="ConnectionUser.PasswordConnection" type="hidden" id="password-connection-hidden" />
        
        <div class="inputConnection">
            <space-input id="email-connection-input" label="Email or username" label-position="50" required></space-input>
            <span asp-validation-for="ConnectionUser.EmailOrUsernameConnection"></span>
        </div>
        
        <div class="inputConnection">
            <space-input id="password-connection-input" label="Password" label-position="50" required></space-input>
            <span asp-validation-for="ConnectionUser.PasswordConnection"></span>
        </div>

        <a href="#">Forget password?</a>
        <a href="/CreateColon">Create account</a>

        <button class="formButton" type="submit">Connect</button>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    </form>
</div>

<script src="~/js/components/inputs/input.js"></script>

<script>
    document.querySelector("form").addEventListener("submit", () => {
        const emailUsernameConnectionComponent = document.querySelector("#email-connection-input");
        const passwordConnectionComponent = document.querySelector("#password-connection-input");

        const emailUsernameConnectionValue = emailUsernameConnectionComponent.shadowRoot.querySelector("input").value;
        const passwordConnectionValue = passwordConnectionComponent.shadowRoot.querySelector("input").value;

        document.querySelector("#email-connection-hidden").value = emailUsernameConnectionValue;
        document.querySelector("#password-connection-hidden").value = passwordConnectionValue;
    })
</script>