@page
@model CreateColon
@{
    ViewData["Title"] = "Create colon";
    Layout = "Shared/_LayoutConnection";
}

<div class="mainFrame">
    <form class="containerCreateColon">
        <h1>Create colon</h1>
        
        <div class="containColumn">
            <div class="columnLeft">
                <space-input label="Settler's name" label-position="50" required></space-input>
                <space-date label="Birthday" label-position="50" required></space-date>
                <space-select label="Choose profession" options='["Among us", "Among us", "Among us", "Among us", "Gay"]' required></space-select>
                <stat-panel force="0" stamina="0" max="7"></stat-panel>
            </div>

            <div class="columnRight">
                <character-panel>
                    <character-item image="/img/character/1.png"></character-item>
                    <character-item image="/img/character/2.png"></character-item>
                    <character-item image="/img/character/3.png"></character-item>
                    <character-item image="/img/character/4.png"></character-item>
                    <character-item image="/img/character/5.png"></character-item>
                    <character-item image="/img/character/6.png"></character-item>
                    <character-item image="/img/character/7.png"></character-item>
                    <character-item image="/img/character/8.png"></character-item>
                    <character-item image="/img/character/9.png"></character-item>
                    <character-item image="/img/character/10.png"></character-item>
                    <character-item image="/img/character/11.png"></character-item>
                    <character-item image="/img/character/12.png"></character-item>
                </character-panel>
            </div>
        </div>

        <button class="formButton" type="submit">Create colon</button>
    </form>
</div>

<script type="module" src="~/js/components/inputs/import.js"></script>
<script type="module" src="~/js/components/stat_panel.js"></script>
<script src="~/js/components/character_panel.js"></script>