@page "{id:guid}"
@model StarColonies.Web.Pages.InventoryProfile

@{
    ViewData["Title"] = "Inventory";
    Layout = "Shared/_Layout";
}

<section class="mainInventoryProfile">
    <button class="buttonProfile backButtonProfile">
        <a asp-page="Profile" asp-route-id="@Model.Id">
            <img class="modifyLogoProfile" src="~/img/icons/arrow.png" alt="back"/>
        </a>
    </button>

    <h1 class="titleInventoryProfile">Inventory</h1>

    <hr class="ledHr"/>

    <div class="oneLineInventoryProfile">
        <div class="oneItemInventoryProfile item-common">
            <img src="~/img/items/battery.png" alt="battery"/>
            <p>x12</p>
        </div>

        <div class="oneItemInventoryProfile item-common">
            <img src="~/img/items/brain.png" alt="brain"/>
            <p>x12</p>
        </div>
    </div>

    <div class="oneLineInventoryProfile">
        <div class="oneItemInventoryProfile item-common">
            <img src="~/img/items/force.png" alt="force"/>
            <p>x12</p>
        </div>

        <div class="oneItemInventoryProfile item-legendary">
            <img src="~/img/items/golden_apple.png" alt="golden_apple"/>
            <p>x12</p>
        </div>
    </div>

    <div class="oneLineInventoryProfile">
        <div class="oneItemInventoryProfile item-legendary">
            <img src="~/img/items/gun.png" alt="gun"/>
            <p>x12</p>
        </div>

        <div class="oneItemInventoryProfile item-common">
            <img src="~/img/items/kit.png" alt="kit"/>
            <p>x12</p>
        </div>
    </div>

    <div class="oneLineInventoryProfile">
        <div class="oneItemInventoryProfile item-common">
            <img src="~/img/items/stamina.png" alt="stamina"/>
            <p>x12</p>
        </div>

        <div class="oneItemInventoryProfile item-legendary">
            <img src="~/img/items/ak.png" alt="ak"/>
            <p>x12</p>
        </div>
    </div>
</section>