@page "{id:int}"
@model StarColonies.Web.Pages.ModifyMission

@{
    ViewData["Title"] = "Modify Mission";
    Layout = "Shared/_Layout";
}

<section class="formMissionModifyContainer">
    <form method="post" class="formMissionModify">
        <input type="hidden" asp-for="Mission.Id" />

        <div class="containForm">
            <label asp-for="Mission.Name"></label>
            <input asp-for="Mission.Name" class="form-control" />
        </div>

        <div class="containForm textarea">
            <label asp-for="Mission.Description"></label>
            <textarea asp-for="Mission.Description" class="form-control" id="textarea" maxlength="500"></textarea>
            <small id="charCounter">0 / 1000</small>
        </div>

        <div class="containForm">
            <label asp-for="Mission.CoinsReward"></label>
            <input asp-for="Mission.CoinsReward" type="number" class="form-control" />
        </div>

        <div class="containForm">
            <label for="SelectedEnemyIds">Enemies (max. 3)</label>
            <select asp-for="SelectedEnemyIds" asp-items="@(new MultiSelectList(Model.Enemies, "Id", "Name"))"
                    multiple="multiple" class="form-control" id="SelectedEnemyIds">
            </select>
        </div>

        <div class="reward-container">
            <label for="SelectedItemIds">Rewards :</label>

            @for (int i = 0; i < Model.RewardInputs.Count; i++)
            {
            <div class="reward-line">
                <input type="hidden" asp-for="RewardInputs[i].Selected" />

                <input type="checkbox" asp-for="RewardInputs[i].Selected" id="item-@i" />
                <label for="item-@i">@Model.Items.FirstOrDefault(it => it.Id == Model.RewardInputs[i].ItemId)?.Name</label>

                <input type="number" asp-for="RewardInputs[i].Quantity" min="1" max="99" style="width: 60px;" />
            </div>
            }
        </div>

        
        <button type="submit" class="btn btn-primary">Register</button>
        <a asp-page="/Map" class="btn btn-secondary">Cancel</a>
    </form>
</section>

<script type="module" src="~/js/components/notifications/notifyMissionForm.js"></script>
<script type="module" src="~/js/textareaCounter.js"></script>