
* {
  margin: 0; padding: 0;
  scroll-behavior: smooth;
  overflow: hidden;
}

body {
  /*background: url(../../img/backgroundIndex.png) center/cover fixed;*/
  color: white;
}

nav {
    position: fixed;
    bottom: 20px; 
    right: 20px;
    z-index: 2000;
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
}

.list-nav {
  display: flex;
  align-items: center;
  gap: 40px;

  justify-content: center;
  flex-direction: column-reverse;
  visibility: hidden;
}

.list-nav.show {
  visibility: visible;
}

.list-nav.hidde {
  visibility: hidden;
}

.list-nav img {
  height: 50px; width: 60px;
}

.list-nav .item-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  transition: .05s ease-in;
  text-decoration: none;
  color: inherit;
  background: none;
  outline: none;
  border: none;
}

.list-nav .item-nav span {
  color: #a6b2c0;
}

.list-nav .item-nav .label {
  font-family: 'Judge', sans-serif;
  position: relative;
  display: none;
  white-space: nowrap;
  color: white;
  background: rgba(0, 0, 0, 0.6);
  padding: 2px 6px;
  border-radius: 4px;
}

.list-nav .item-nav:hover {
  transform: scale(1.1);
}

.list-nav.show .item-nav:nth-child(1) { transition-delay: 0s;   }
.list-nav.show .item-nav:nth-child(2) { transition-delay: 0.1s; }
.list-nav.show .item-nav:nth-child(3) { transition-delay: 0.2s; }
.list-nav.show .item-nav:nth-child(4) { transition-delay: 0.3s; }
.list-nav.show .item-nav:nth-child(5) { transition-delay: 0.4s; }

.list-nav.hidde .item-nav:nth-child(1) { transition-delay: 0.4s; }
.list-nav.hidde .item-nav:nth-child(2) { transition-delay: 0.3s; }
.list-nav.hidde .item-nav:nth-child(3) { transition-delay: 0.2s; }
.list-nav.hidde .item-nav:nth-child(4) { transition-delay: 0.1s; }
.list-nav.hidde .item-nav:nth-child(5) { transition-delay: 0s;   }
