body {
    background: url("../../img/background.png") repeat;
    height: 100vh; width: 100vw;
    margin: 0; padding: 0;
    overflow: hidden;
}

h1.title {
    font-family: 'Judge Italic', sans-serif;
    font-size: 3.5rem;
    color: #A6B2C0;
    padding-left: 30px;
    width: fit-content;
}

.linkTitleConnection{
    display: inline-block;
    text-decoration: none; 
    color: inherit;          
    background: none;       
    outline: none;           
    border: none;
    cursor: pointer;
    width: fit-content;
}